/*
<<<<<<< HEAD
* @Author: Rosen
* @Date:   2017-04-05 22:51:34
* @Last Modified by:   Rosen
* @Last Modified time: 2017-04-05 23:14:57
*/
=======
 * @Author: Rosen
 * @Date:   2017-04-05 22:51:34
 * @Last Modified by:   Administrator
 * @Last Modified time: 2018-06-06 00:01:11
 */
>>>>>>> 9b63b1bca6de15b8614e2242163a2226cb7c6f27
.btn-send-goods{
    margin-left: 20px;
}

.p-img{
    display: block;
    width: 80px;
    height: 80px;
}